# IDE stuff
.cache
.idea
.vscode
build
cmake-build-debug

# generated stuff
Bundle/man/*.gz
Bundle/debian/.debhelper
Bundle/debian/debhelper-build-stamp
Bundle/debian/files
Bundle/debian/slang/DEBIAN
Bundle/debian/slang/usr
CMake/Dependencies.cmake
make-package.cfg
