# IDE stuff
.cache
.idea
.vscode
build
cmake-build-debug

# generated stuff
Bundle/man/*.gz
Bundle/debian/.debhelper
Bundle/debian/debhelper-build-stamp
Bundle/debian/changelog
Bundle/debian/files
Bundle/debian/slang
Bundle/debian/slang.substvars
CMake/Dependencies.cmake

