# IDE stuff
.cache
.idea
.vscode
build
cmake-build-debug

# generated stuff
bundle/man/*.gz
debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/slang/DEBIAN
debian/slang/usr
CMake/Dependencies.cmake
make-package.cfg
